@model WHITELABEL.Data.Models.TBL_VENDOR_MASTER
@{
    ViewBag.Title = "AddVendorMaster";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Ajax.BeginForm("PostAddVenderMaster", "MemberVenderMaster", new AjaxOptions { OnSuccess = "OnSuccessVenderMaster", OnFailure = "OnFailureVenderMaster", LoadingElementId = "progressVenderMaster" }, new { area = "Admin", @id = "AddVendorMaster" }))
{

    <div class="form-horizontal  padding-top-50">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="clearfix">
            <div style="background-color:#ccc; border-radius:5px; color:#3e50b4; padding:5px 20px 10px 20px; margin-bottom:20px;" class="col-md-12"><h3 style="color:#3e50b4"><i class="fas fa-angle-double-right"></i> Add Vendor</h3></div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body" style="padding:30px 0; ">
                        <div class=" col-md-12 row">

                            <div class=" col-md-3"> @*<img src="~/images/UtiImage.png" />*@</div>
                            <div class=" col-md-6">
                                <div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-3" style="text-align:left;">Vendor Name</label>
                                        <div class="col-md-9" style="padding-top:5px;">
                                            <div class="inputer">
                                                <div class="md-form">
                                                    @Html.EditorFor(model => model.VENDOR_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Vendor Name", @maxlength = "150" } })
                                                </div>
                                                <span class="help-block"><small>@Html.ValidationMessageFor(model => model.VENDOR_NAME, "", new { @class = "text-danger" })</small></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-3" style="text-align:left;">Vendor Type</label>
                                        <div class="col-md-9">
                                            <div class="inputer">
                                                <div class="md-form">
                                                    @Html.EditorFor(model => model.VENDOR_TYPE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Vendor Type", @maxlength = "150" } })
                                                </div>
                                                <span class="help-block"><small>@Html.ValidationMessageFor(model => model.VENDOR_TYPE, "", new { @class = "text-danger" })</small></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-3" style="text-align:left;">Status</label>
                                        <div class="col-md-9">
                                            <div class="inputer">
                                                <div class="md-form">
                                                    @Html.DropDownListFor(m => m.STATUS, new List<SelectListItem>
                                                { new SelectListItem{Text="Active", Value="1"},
                                                new SelectListItem{Text="Deactive", Value="0"}},
                                                "Select Vendor Status", new { id = "VendorStatus", @class = "form-control" })
                                                </div>
                                                <span class="help-block"><small>@Html.ValidationMessageFor(model => model.STATUS, "", new { @class = "text-danger" })</small></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class=" col-md-3"></div>
                        </div><!--.row-->
                    </div>
                    <div>
                        <div class="text-center" style="padding-bottom:20px;">
                            @if (ViewBag.btnStatus == "0")
                            {
                                <input type="submit" value="Create" class="btn btn-primary" id="btnsubmit" />
                            }
                            else
                            {
                                <input type="submit" value="Update" class="btn btn-primary" id="btnUpdatesubmit" />
                            }
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div><!--.panel-->
            </div><!--.col-md-12-->
        </div>
    </div>
}


<div class="preloader hidden" id="progressVenderMaster">
    <div id="loading"></div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#progressVenderMaster').removeClass("hidden");
        $('#progressVenderMaster').hide();
    })
    function OnSuccessVenderMaster(response) {
        var message = response;
        bootbox.alert({
            message: message,
            size: 'small',
            callback: function () {
                console.log(message);
                var url = "/Admin/MemberVenderMaster/Index";
                window.location.href = url;
            }
        })
        $("#AddVendorMaster").trigger("reset");
        //callGeocodeMobile();
        //alert(message);
    }
    function OnFailureVenderMaster(response) {
        alert("Error occured.");
    }
</script>
