@model IEnumerable<WHITELABEL.Web.Areas.Merchant.Models.ServiceList>
@{
    ViewBag.Title = "Recharge Service";
    //Layout = "~/Areas/Merchant/Views/Shared/_MerchantLayout.cshtml";
    Layout = "~/Areas/Merchant/Views/Shared/_RetailerLayout.cshtml";
}
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/typeahead.jquery.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@
<div class="content" style="margin-top:20px;">
    <div class="display-animation">
        <div class="full-content margin-bottom-40 bg-white" id="Bill_page">
            <div class="row example-row" style="min-height:350px;">
                <div class="col-md-12">
                    <div class=" card">
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-justified" role="tablist" id="utiliti_css">
                                <li class="active @(Model.Count(x => x.ServiceName == "MOBILE RECHARGE" && x.ServiceStatus) > 0 ? "" : "disabled")">

                                    <a href="#tab4_1" data-toggle="tab">
                                        <span class="svg_holder">
                                            <svg>
                                                <g class="svgGrp ts10" style="color:blue">
                                                    <path d="M11.9,0 L2.1,0 C0.945,0 0,0.928125 0,2.0625 L0,19.9375 C0,21.071875 0.945,22 2.1,22 L11.9,22 C13.055,22 14,21.071875 14,19.9375 L14,2.0625 C14,0.928125 13.055,0 11.9,0 Z M4.66666667,0.916666667 L9.33333333,0.916666667 L9.33333333,1.83333333 L4.66666667,1.83333333 L4.66666667,0.916666667 Z M7,20.1666667 C6.22680625,20.1666667 5.6,19.5510534 5.6,18.7916667 C5.6,18.0322799 6.22680625,17.4166667 7,17.4166667 C7.77319375,17.4166667 8.4,18.0322799 8.4,18.7916667 C8.4,19.5510534 7.77319375,20.1666667 7,20.1666667 Z M12.1333333,16.5 L1.86666667,16.5 L1.86666667,2.75 L12.1333333,2.75 L12.1333333,16.5 Z"></path>
                                                </g>
                                            </svg>
                                        </span> <span class="text_holder">Recharge</span>
                                    </a>
                                </li>
                                <li class="@(Model.Count(x => x.ServiceName == "UTILITY SERVICES" && x.ServiceStatus) > 0 ? "" : "disabled")">
                                    <a href="#tab4_2" data-toggle="tab">
                                        <span class="svg_holder">
                                            <svg>
                                                <g class="svgGrp ts12">
                                                    <path d="M7.00362944,3.3459943 L11.4479937,3.3459943 C11.7241361,3.3459943 11.9479937,3.56985192 11.9479937,3.8459943 C11.9479937,4.12213667 11.7241361,4.3459943 11.4479937,4.3459943 L8.00704001,4.3459943 L10.4820611,6.81260283 L11.7280387,5.52768842 C11.9202741,5.3294457 12.2368191,5.32457578 12.4350618,5.51681114 C12.6333045,5.70904651 12.6381744,6.02559154 12.4459391,6.22383426 L11.1904369,7.51857089 L13.6447506,9.96454243 L13.6447506,6.56883588 C13.6447506,6.29269351 13.8686082,6.06883588 14.1447506,6.06883588 C14.420893,6.06883588 14.6447506,6.29269351 14.6447506,6.56883588 L14.6447506,10.9611435 L19.1038928,15.4051291 C19.2904326,15.5910949 19.3790852,15.8533544 19.3433219,16.1139408 C19.3077265,16.3745271 19.151829,16.6034081 18.9220543,16.7328229 C17.129862,17.7418735 15.088838,18.2753435 13.0197743,18.2753435 C13.0195224,18.2753435 13.0193545,18.2753435 13.0191027,18.2753435 C9.81207909,18.2751762 6.7971361,17.0306359 4.52969547,14.7707708 C0.729975734,10.9839449 -0.0795666404,5.08574217 2.56112146,0.42764605 C2.69099412,0.19868141 2.92076883,0.0433334613 3.18227712,0.00769629042 C3.22039101,0.00259331525 3.2585049,0 3.29636694,0 C3.51883788,0 3.73425691,0.0875871312 3.89359648,0.246532259 L7.00362944,3.3459943 Z M2.85544774,15.2294529 C3.10523133,15.4957137 3.36885334,15.7540564 3.64683272,16.0035497 C6.21334177,18.3073647 9.61569175,19.5883659 13.240235,19.6200378 L13.240235,20.5403062 C13.240235,20.971602 12.8506833,21.3212341 12.3701439,21.3212341 L0.870152571,21.3212341 C0.568474887,21.3212341 0.288506234,21.1811173 0.129969768,20.9509532 C-0.0285666981,20.7206338 -0.0430105551,20.4331809 0.0918276068,20.1910622 L2.85544774,15.2294529 Z M15.3063887,4.28742771 C15.3063887,3.31911563 14.551009,2.54013031 13.6271912,2.54013031 C12.7033734,2.54013031 11.9479937,3.31911563 11.9479937,4.28742771 C11.9479937,5.25573979 12.7033734,6.03472512 13.6271912,6.03472512 C14.551009,6.03472512 15.3063887,5.25573979 15.3063887,4.28742771 Z M16.3063887,4.28742771 C16.3063887,5.80125562 15.110297,7.03472512 13.6271912,7.03472512 C12.1440853,7.03472512 10.9479937,5.80125562 10.9479937,4.28742771 C10.9479937,2.77359981 12.1440853,1.54013031 13.6271912,1.54013031 C15.110297,1.54013031 16.3063887,2.77359981 16.3063887,4.28742771 Z"></path>
                                                </g>
                                            </svg>
                                        </span> <span class="text_holder"> DTH</span>
                                    </a>
                                </li>
                                @*<li class="@(Model.Count(x => x.ServiceName == "UTILITY SERVICES" && x.ServiceStatus)>0?"":"disabled")">
                                    <a href="#tab4_3" data-toggle="tab">
                                        <span class="svg_holder">
                                            <svg>
                                                <g class="svgGrp ts10">
                                                    <path d="M21.8547463,6.09413651 L15.9058683,0.145248151 C15.7122044,-0.0484160504 15.3984941,-0.0484160504 15.2048767,0.145248151 L12.1452479,3.20488227 C11.951584,3.39854647 11.951584,3.71225738 12.1452479,3.90587511 L18.0941259,9.85476347 C18.1909346,9.95157233 18.317813,10 18.4446449,10 C18.5714769,10 18.6983088,9.95157233 18.795164,9.85476347 L21.8547928,6.79512935 C22.0484102,6.60151162 22.0484102,6.28780071 21.8547463,6.09413651 Z M15.0586644,5.45607176 C14.9318325,5.45607176 14.8050005,5.40764409 14.7081454,5.31083523 L14.21239,4.81507904 C14.0216541,4.6243428 14.0187262,4.31593012 14.2056046,4.12133641 C15.885512,2.37124781 15.887464,2.37557005 16.2340791,2.51597311 C16.296031,2.54065171 16.353196,2.57941243 16.4006012,2.62681764 L16.8963565,3.12257382 C17.0900204,3.31623803 17.0900204,3.62994893 16.8963565,3.82356666 L15.409137,5.31078875 C15.3123748,5.40764409 15.1854964,5.45607176 15.0586644,5.45607176 Z M19.3760626,6.30327712 L17.8888431,7.79049921 C17.7920344,7.88730807 17.665156,7.93573574 17.5383241,7.93573574 C17.4114921,7.93573574 17.2846602,7.88730807 17.187805,7.79049921 L16.6920497,7.29474302 C16.5013138,7.10400679 16.4983858,6.7955941 16.6852643,6.60100039 C18.3641957,4.85091179 18.3671236,4.85523403 18.7137387,4.99563709 C18.7756907,5.02031569 18.8328557,5.05907641 18.8802608,5.10648162 L19.3760161,5.6022378 C19.5697265,5.79590201 19.5697265,6.10961292 19.3760626,6.30327712 Z M10.8534959,4.146496 L17.8535044,11.1464758 C18.0488319,11.3417569 18.0488319,11.658163 17.8535044,11.853491 L9.26757921,20.4394385 C8.27636368,21.4311722 6.90236816,22 5.50001335,22 L5.32812328,22 C2.39061722,22 0,19.6093766 0,16.6713941 L0,16.5000192 C0,15.0766608 0.554670069,13.7388023 1.56055742,12.7324435 L10.1464826,4.146496 C10.3417632,3.951168 10.6581684,3.951168 10.8534959,4.146496 Z M5.70701267,17.708034 C6.0966364,17.3183624 6.0966364,16.6836285 5.70705955,16.2939568 C5.31640457,15.9042852 4.68359413,15.9042852 4.29298603,16.2939568 C3.90331542,16.6836285 3.90331542,17.3183624 4.29298603,17.708034 C4.48826664,17.9028933 4.74415643,18.0005339 4.99999935,18.0005339 C5.25584227,18.0005339 5.51168518,17.9028464 5.70701267,17.708034 Z M7.49997559,17.0010189 C7.77634969,17.0010189 7.99998958,16.7773784 7.99994271,16.5009567 C7.99994271,15.1225514 6.87888386,14.000974 5.49996647,14.000974 C5.22359237,14.000974 4.99995247,14.2246144 4.99995247,14.5009893 C4.99995247,14.7773641 5.22359237,15.0010046 5.49996647,15.0010046 C6.32712003,15.0010046 6.99996159,15.6738479 6.99996159,16.5010036 C6.99996159,16.7773784 7.22360149,17.0010189 7.49997559,17.0010189 Z M9.4999847,17.0010189 C9.77631193,17.0010189 9.99995182,16.7773784 9.99995182,16.5009567 C9.99995182,14.0195364 7.98142714,12.0009596 5.49996647,12.0009596 C5.22359237,12.0009596 4.99995247,12.2246001 4.99995247,12.5009749 C4.99995247,12.7773498 5.22359237,13.0009902 5.49996647,13.0009902 C7.42966331,13.0009902 8.9999707,14.5713017 8.9999707,16.5010036 C8.9999707,16.7773784 9.2236106,17.0010189 9.4999847,17.0010189 Z"></path>
                                                </g>
                                            </svg>
                                        </span> <span class="text_holder"> Data Card</span>
                                    </a>
                                </li>*@
                                <li class="@(Model.Count(x => x.ServiceName == "UTILITY SERVICES" && x.ServiceStatus) > 0 ? "" : "disabled")">
                                    <a href="#tab4_4" data-toggle="tab">
                                        <span class="svg_holder">
                                            <svg>
                                                <g class="svgGrp ts6">
                                                    <path d="M11.999924,1 C8.081267,1 4.153177,1.7282013 2.727904,3.1796277 C1.54538,4.3837632 1.151189,6.5110098 1.018312,7.8578837 C1.018312,7.8578837 1,7.9909839 1,8.0482364 C1,8.5763945 1.412403,9 1.916618,9 C1.976196,9 4.180772,8.8143616 5.509893,8.7001709 C5.541877,8.6953518 5.574112,8.6906375 5.606095,8.6811566 C6.10113,8.6669613 6.499962,8.2480701 6.499962,7.729393 L6.504401,5.8542563 C6.504401,5.2736648 6.958322,4.8072116 7.517525,4.8072116 L16.482274,4.8072116 C17.041577,4.8072116 17.495548,5.2736124 17.495548,5.8542563 L17.500038,7.729393 C17.500038,8.2480701 17.89882,8.6669613 18.393804,8.6811566 C18.425585,8.6906899 18.457821,8.6953518 18.490157,8.7001709 C19.81938,8.8143092 22.023905,9 22.083281,9 C22.587295,9 23,8.5763945 23,8.0482364 C23,7.9909839 22.981688,7.8578837 22.981688,7.8578837 C22.84871,6.5110098 22.454973,4.3838156 21.272399,3.1796277 C19.846672,1.7282013 15.918581,1 11.999924,1 Z M12.000041,12 C10.342515,12 9,13.3424691 9,15.0000413 C9,16.6576134 10.342515,18 12.000041,18 C13.657568,18 15,16.6576134 15,15.0000413 C15,13.3424691 13.657568,12 12.000041,12 Z M10.565293,8.3610476 L10.565293,7.1805238 C10.565293,6.5289046 10.029574,6 9.369677,6 C8.709781,6 8.174062,6.5289566 8.174062,7.1805238 L8.174062,8.3610476 L1.722065,15.1658605 C1.277466,15.5956475 1,16.1951871 1,16.8564737 L1,18.750104 C1,19.7937238 1.856139,20.6389004 2.913048,20.6389004 L3.391336,20.6389004 L3.391336,21.8195802 C3.391336,22.4711474 3.927108,23 4.587005,23 C5.246901,23 5.78262,22.4711474 5.78262,21.8195802 L5.78262,20.6389004 L18.217485,20.6389004 L18.217485,21.8195802 C18.217485,22.4711474 18.753046,23 19.413206,23 C20.073103,23 20.608716,22.4711474 20.608716,21.8195802 L20.608716,20.6389004 L21.087005,20.6389004 C22.143966,20.6389004 23,19.7937238 23,18.750104 L23,16.8564737 C23,16.1951351 22.722586,15.5955955 22.277935,15.1658605 L15.826201,8.3610476 L15.826201,7.1805238 C15.826201,6.5289046 15.290377,6 14.630481,6 C13.970584,6 13.434918,6.5289566 13.434918,7.1805238 L13.434918,8.3610476 L10.565293,8.3610476 Z M11.999945,11 C14.20995,11 16,12.7899827 16,14.9999175 C16,17.2099072 14.210005,19 11.999945,19 C9.78994,19 8,17.2099622 8,14.9999175 C8,12.7899277 9.78994,11 11.999945,11 Z"></path>
                                                </g>
                                            </svg>
                                        </span> <span class="text_holder"> Landline</span>
                                    </a>
                                </li>
                                <li class="@(Model.Count(x => x.ServiceName == "UTILITY SERVICES" && x.ServiceStatus) > 0 ? "" : "disabled")">
                                    <a href="#tab4_5" data-toggle="tab">
                                        <span class="svg_holder">
                                            <svg>
                                                <g class="svgGrp ts6">
                                                    <path d="M8.534475,7.2727735 C9.133539,7.6701716 9.133539,8.2662687 8.654288,8.6636668 C8.175037,9.0610649 7.456161,9.1604144 6.97691,8.6636668 C4.34103,6.6766764 4.34103,3.2987928 6.97691,1.2124529 C7.456161,0.914404297 8.175037,0.914404297 8.654288,1.3118024 C9.013726,1.7092005 9.013726,2.3052976 8.534475,2.7026956 C6.857097,3.9942394 6.857097,5.9812298 8.534475,7.2727735 Z M17.02309,1.2884577 C19.65897,3.287861 19.65897,6.6868465 17.02309,8.7862199 C16.543839,9.0861304 15.824963,9.0861304 15.345712,8.6862498 C14.866461,8.2863691 14.986274,7.6865481 15.465525,7.2866675 C17.02309,5.9870554 17.02309,3.9876521 15.465525,2.7880102 C14.866461,2.3881295 14.866461,1.7883085 15.345712,1.3884279 C15.824963,0.888577097 16.543839,0.888577097 17.02309,1.2884577 Z M21.9,15.2222222 C22.45,15.2222222 23,15.7777778 23,16.3333333 L23,20.7777778 C23,21.3333333 22.45,21.8888889 21.9,21.8888889 L20.8,21.8888889 L20.8,23 L17.5,23 L17.5,21.8888889 L6.5,21.8888889 L6.5,23 L3.2,23 L3.2,21.8888889 L2.1,21.8888889 C1.44,21.8888889 1,21.3333333 1,20.7777778 L1,16.3333333 C1,15.7777778 1.44,15.2222222 2.1,15.2222222 L10.9,15.2222222 L10.9,7.1111111 C10.24,6.7777778 9.8,6 9.8,5.2222222 C9.8,4 10.79,3 12,3 C13.21,3 14.2,4 14.2,5.2222222 C14.2,6 13.76,6.7777778 13.1,7.1111111 L13.1,15.2222222 L21.9,15.2222222 Z M4.3,19.6666667 C4.85,19.6666667 5.4,19.2222222 5.4,18.5555556 C5.4,18 4.96,17.4444444 4.3,17.4444444 C3.75,17.4444444 3.2,18 3.2,18.5555556 C3.2,19.1111111 3.75,19.6666667 4.3,19.6666667 Z M8.7,19.6666667 C9.25,19.6666667 9.8,19.2222222 9.8,18.5555556 C9.8,18 9.25,17.4444444 8.7,17.4444444 C8.04,17.4444444 7.6,18 7.6,18.5555556 C7.6,19.1111111 8.04,19.6666667 8.7,19.6666667 Z M19.7,19.6666667 L19.7,17.4444444 L12,17.4444444 L12,19.6666667 L19.7,19.6666667 Z"></path>
                                                </g>
                                            </svg>
                                        </span> <span class="text_holder"> Broadband</span>
                                    </a>
                                </li>
                                <li class="@(Model.Count(x => x.ServiceName == "UTILITY SERVICES" && x.ServiceStatus) > 0 ? "" : "disabled")">
                                    <a href="#tab4_6" data-toggle="tab">
                                        <span class="svg_holder">
                                            <svg>
                                                <g class="svgGrp ts6">
                                                    <path d="M5.81797187,4.93930387 C6.06067604,5.18200553 6.06067604,5.57524103 5.81797187,5.81794269 C5.5752677,6.06068577 5.18206955,6.06068577 4.93932396,5.81794269 L3.18202813,4.06066506 C2.93932396,3.8179634 2.93932396,3.4247279 3.18202813,3.18202624 C3.4247323,2.93932459 3.81797187,2.93932459 4.06067604,3.18202624 L5.81797187,4.93930387 Z M3.34065934,12 C3.7050989,12 4,12.26836 4,12.6 C4,12.93164 3.7050989,13.2 3.34065934,13.2 L0.659340659,13.2 C0.294901099,13.2 0,12.93164 0,12.6 C0,12.26836 0.294901099,12 0.659340659,12 L3.34065934,12 Z M20.8406593,12 C21.2050989,12 21.5,12.26836 21.5,12.6 C21.5,12.93164 21.2050989,13.2 20.8406593,13.2 L18.1593407,13.2 C17.7949011,13.2 17.5,12.93164 17.5,12.6 C17.5,12.26836 17.7949011,12 18.1593407,12 L20.8406593,12 Z M17.8179719,3.18202813 C18.060676,3.42477372 18.060676,3.81797187 17.8179719,4.06067604 L16.060676,5.81797187 C15.8179719,6.06067604 15.4247323,6.06067604 15.1820281,5.81797187 C14.939324,5.5752677 14.939324,5.18202813 15.1820281,4.93932396 L16.939324,3.18202813 C17.1820281,2.93932396 17.5752677,2.93932396 17.8179719,3.18202813 Z M10.6,0 C10.93164,0 11.2,0.291695652 11.2,0.652173913 L11.2,3.34782609 C11.2,3.70830435 10.93164,4 10.6,4 C10.26836,4 10,3.70830435 10,3.34782609 L10,0.652173913 C10,0.291695652 10.26836,0 10.6,0 Z M13.9216699,6.16310242 C15.2420208,7.1951841 16,8.74334661 16,10.3994777 C16,11.8395916 15.4254436,13.1956589 14.3984633,14.2157397 C13.8605426,14.7317805 13.5549058,15.4878403 13.5549058,16.2679421 L13.5549058,16.3999525 C13.5549058,16.7359391 13.2859862,17 12.9436322,17 L11.1098116,17 L11.1098116,13.3157084 C12.1612021,13.0516475 12.9436322,12.1156135 12.9436322,10.9995252 C12.9436322,10.6634586 12.6747126,10.3994777 12.3323587,10.3994777 C11.9900048,10.3994777 11.7210851,10.6634586 11.7210851,10.9995252 C11.7210851,11.6595774 11.1709389,12.1996201 10.498538,12.1996201 C9.82613713,12.1996201 9.27599093,11.6595774 9.27599093,10.9995252 C9.27599093,10.6634586 9.00707132,10.3994777 8.66471738,10.3994777 C8.32236344,10.3994777 8.05344383,10.6634586 8.05344383,10.9995252 C8.05344383,12.1156135 8.83587398,13.0516475 9.88726448,13.3157084 L9.88726448,17 L8.05344383,17 C7.71108989,17 7.44217028,16.7359391 7.44217028,16.3999525 L7.44217028,16.2679421 C7.44217028,15.4758394 7.14875897,14.7438215 6.64747391,14.2517425 C5.24158549,12.8956352 4.6914393,10.9514814 5.16823267,9.0313694 C5.64506679,7.1231784 7.2221118,5.59909779 9.17818717,5.15506265 C10.8653022,4.75903131 12.5891343,5.13102075 13.9216699,6.16310242 Z M8,18 L13,18 L13,19 C13,20.6542667 12.1589167,22 11.125,22 L9.875,22 C8.84108333,22 8,20.6542667 8,19 L8,18 Z"></path>
                                                </g>
                                            </svg>
                                        </span> <span class="text_holder"> Electricity</span>
                                    </a>
                                </li>
                                <li class="@(Model.Count(x => x.ServiceName == "UTILITY SERVICES" && x.ServiceStatus) > 0 ? "" : "disabled")">
                                    <a href="#tab4_7" data-toggle="tab">
                                        <span class="svg_holder">
                                            <svg>
                                                <g class="svgGrp ts6">
                                                    <path d="M16.1348974,6.01974 L16.1348974,2.14356 C16.9606832,2.14356 16.8407486,1.57178 16.8407486,1.57178 C16.8407486,1.25608 16.4484897,1 15.9646678,1 L9.03554718,1 C8.55172528,1 8.1594663,1.25608 8.1594663,1.57178 C8.1594663,1.57178 8.04189607,2.14356 8.86553246,2.14356 L8.86553246,6.01996 C7.23094093,6.3372 6,7.72936 6,9.39894 L6,18.02184 C6,19.4833 6.94357092,20.73114 8.27488716,21.23296 L8.27488716,23 L16.7248979,23 L16.7248979,21.23296 C18.0562141,20.73136 19,19.4833 19,18.02184 L19,9.39894 C19.0002149,7.72936 17.769274,6.3372 16.1348974,6.01974 Z M11.0164013,2.77034 L15.5352248,2.77034 L15.5352248,5.37052 L11.0164013,5.37052 L11.0164013,2.77034 Z M14.7425392,21.99724 L10.2574608,21.99724 C9.87637849,21.99724 9.54881537,21.77878 9.4002943,21.46484 C9.45832713,21.46748 9.51635997,21.46902 9.57482268,21.46902 L15.4249624,21.46902 C15.4834251,21.46902 15.5416729,21.46748 15.5994908,21.46484 C15.4511846,21.77878 15.1238365,21.99724 14.7425392,21.99724 Z M10.3993903,12.792545 C10.8353657,13.2327022 11.1986791,13.5274504 11.4893291,13.6767895 C11.7799798,13.8261287 12.0243903,13.7986186 12.2225612,13.5942601 C12.4603657,13.4370607 12.5759657,13.1894724 12.5693597,12.8514945 C12.5627538,12.5135165 12.5594515,12.3052279 12.5594515,12.2266286 C12.4669716,11.629272 12.4537604,11.1537453 12.5198172,10.8000476 C12.5858739,10.4463499 12.6717478,10.1673215 12.7774388,9.96296296 C12.8699187,10.4188399 13.0251523,10.8432774 13.2431403,11.2362747 C13.4611276,11.629272 13.6890239,11.9829704 13.9268291,12.2973676 C14.1910567,12.6589255 14.4255589,13.0204834 14.6303351,13.3820414 C14.8351113,13.7435993 14.9375,14.1130166 14.9375,14.4902942 C14.9375,15.2448494 14.7029978,15.9011555 14.233994,16.4592117 C13.7649896,17.0172678 13.2068089,17.2962963 12.5594515,17.2962963 C11.8856709,17.2962963 11.3010672,17.0172678 10.8056403,16.4592117 C10.3102134,15.9011555 10.0625,15.2448494 10.0625,14.4902942 C10.0625,14.0815764 10.1021343,13.7278788 10.1814029,13.4292004 C10.2606709,13.1305229 10.3333336,12.9183042 10.3993903,12.792545 Z"></path>
                                                </g>
                                            </svg>
                                        </span> <span class="text_holder"> Gas</span>
                                    </a>
                                </li>
                                <li class="@(Model.Count(x => x.ServiceName == "UTILITY SERVICES" && x.ServiceStatus) > 0 ? "" : "disabled")">
                                    <a href="#tab4_8" data-toggle="tab">
                                        <span class="svg_holder">
                                            <svg>
                                                <g class="svgGrp ts6">
                                                    <path d="M9.3806766,14.8715266 C9.56292388,15.9402907 9.96989932,16.5426756 10.5868868,17.1679886 C10.9863955,17.5728787 11.5968586,18.0700026 12.1768023,18.5224612 L12.1768023,21.6135173 C12.1768023,22.363744 11.6086025,23 10.877946,23 L10.8416996,23 C10.1110431,23 9.51870318,22.3916598 9.51870318,21.6414331 C9.51870318,22.3916598 8.92636327,23 8.19570681,23 L8.15946033,23 C7.42880387,23 6.8123238,22.363744 6.8123238,21.6135173 L6.8123238,15.182992 C6.6673379,15.5182789 6.33800242,15.7791237 5.96132904,15.7791237 L5.92544503,15.7791237 C5.43031816,15.7791237 5,15.3497422 5,14.841452 L5,7.40655496 C5,6.90913336 5.43495771,6.46642665 5.86991543,6.44766726 L5.86991543,6.47379641 L5.92544503,6.47379641 L5.96140153,6.47379641 L7.81149416,6.47379641 C7.06119211,5.87826022 6.5706323,5.02448466 6.5706323,4.01036098 C6.5706323,2.35350487 7.87840516,1 9.49202578,1 C11.1052114,1 12.4131293,2.35000609 12.4130568,4.0068622 C12.4130568,5.02098588 11.922497,5.87826022 11.1722674,6.47379641 L14,6.47379641 L13.6021587,7.1453379 C13.0915183,8.02509373 12.3144664,8.45722967 11.2923158,8.45722967 C10.9650101,8.45722967 10.7312928,8.40735352 10.6940314,8.39894157 L9.22873137,7.98109849 L9.24939186,9.55368623 C9.24939186,10.0779814 9.24794201,10.5537404 9.24663713,10.9866952 C9.24054772,12.9495824 9.23721305,14.030704 9.3806766,14.8715266 Z M18.9952887,9.6384926 C18.9952887,14.1953567 19.1238836,14.711642 18.0373948,15.7553836 C17.161221,16.597039 14.9999967,18 14.9999967,18 C14.9999967,18 12.8387724,16.5971063 11.9626677,15.7553836 C10.8761789,14.711642 11.0047047,14.1953567 11.0047047,9.6384926 C11.0047047,9.6384926 11.3454812,9.72402423 11.8468631,9.72402423 C12.7284988,9.72402423 14.1064003,9.45948856 14.9999967,8 C15.8936622,9.45955585 17.2714946,9.72402423 18.1531303,9.72402423 C18.6543739,9.72402423 18.9952887,9.6384926 18.9952887,9.6384926 Z M14.3877551,13.6938776 L13,13.6938776 L13,12.3877551 L14.3877551,12.3877551 L14.3877551,11 L15.6938776,11 L15.6938776,12.3877551 L17,12.3877551 L17,13.6938776 L15.6938776,13.6938776 L15.6938776,15 L14.3877551,15 L14.3877551,13.6938776 Z M17.6906034,13.965747 C17.7786148,13.4767833 17.7761259,12.7114401 17.7720468,11.443607 L17.7699727,10.84179 L17.277786,10.8189098 C16.5228094,10.7839166 15.8722989,10.5344549 15.3445066,10.0775908 L14.9999276,9.77934051 L14.6554176,10.0775908 C14.1275562,10.5344549 13.4771148,10.7838493 12.7220691,10.8189098 L12.2299515,10.84179 L12.2278083,11.4408479 C12.2238675,12.7104307 12.2214477,13.4765141 12.3094591,13.965747 C12.3832284,14.3754374 12.5151419,14.6055855 12.8742397,14.9507402 C13.3111168,15.3703903 14.2076169,15.9981157 14.703053,16.3349933 L14.9999967,16.5368775 L15.2968712,16.3349933 C15.7922382,15.9982503 16.6885309,15.3706595 17.1258228,14.9506057 C17.4847824,14.6057201 17.616765,14.375572 17.6906034,13.965747 Z"></path>
                                                </g>
                                            </svg>
                                        </span> <span class="text_holder"> Water</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active @(Model.Count(x => x.ServiceName == "MOBILE RECHARGE" && x.ServiceStatus) > 0 ? "" : "disabled")" id="tab4_1">
                                    <!--.panel-heading-->
                                    <div class="card-body">
                                        @if (Model.Count(x => x.ServiceName == "MOBILE RECHARGE" && x.ServiceStatus) > 0)
                                        {
                                            @Scripts.Render("~/bundles/MerchantMobileRecharge")
                                            @Html.Action("MobileRecharge")
                                        }
                                        else
                                        {
                                            <h2>Service is not available</h2>
                                        }
                                    </div>
                                </div>
                                <!--.tab-pane-->
                                <div class="tab-pane @(Model.Count(x => x.ServiceName == "UTILITY SERVICES" && x.ServiceStatus) > 0 ? "" : "disabled")" id="tab4_2">
                                    <div class="panel-body">
                                        @if (Model.Count(x => x.ServiceName == "UTILITY SERVICES" && x.ServiceStatus) > 0)
                                        {
                                            @Scripts.Render("~/bundles/MerchantDTHRecharge")
                                            @Html.Action("DTHRecharge")
                                        }
                                        else
                                        {
                                            <h2>Service is not available</h2>
                                        }
                                    </div>
                                </div>
                                <!--.tab-pane-->
                                @*<div class="tab-pane @(Model.Count(x => x.ServiceName == "UTILITY SERVICES" && x.ServiceStatus)>0?"":"disabled")" id="tab4_3">
                                    @if (Model.Count(x => x.ServiceName == "UTILITY SERVICES" && x.ServiceStatus) > 0)
                                    {
                                        @Html.Action("DatacardRecharge")
                                    }
                                    else
                                    {
                                        <h2>Service is not available</h2>
                                    }
                                </div>*@
                                <div class="tab-pane @(Model.Count(x => x.ServiceName == "UTILITY SERVICES" && x.ServiceStatus) > 0 ? "" : "disabled")" id="tab4_4">
                                    <div class="panel-body">
                                        @if (Model.Count(x => x.ServiceName == "UTILITY SERVICES" && x.ServiceStatus) > 0)
                                        {
                                            @Scripts.Render("~/bundles/MerchantLandlineRecharge")
                                            @Html.Action("LandlineRecharge")
                                            @*if (ViewBag.Outletcheck != "")
                                            {
                                                @Scripts.Render("~/bundles/MerchantLandlineRecharge")
                                                @Html.Action("LandlineRecharge")
                                            }
                                            else
                                            {
                                                @Html.Action("Index", "MerchantOutletRegistration", new { area = "Merchant" })
                                            }*@
                                        }
                                        else
                                        {
                                            <h2>Service is not available</h2>
                                        }
                                    </div>
                                </div>
                                <!--.tab-pane-->
                                <div class="tab-pane @(Model.Count(x => x.ServiceName == "UTILITY SERVICES" && x.ServiceStatus) > 0 ? "" : "disabled")" id="tab4_5">
                                    <div class="panel-body">
                                        @if (Model.Count(x => x.ServiceName == "UTILITY SERVICES" && x.ServiceStatus) > 0)
                                        {
                                            @*if (ViewBag.Outletcheck != "")
                                            {
                                                @Scripts.Render("~/bundles/MerchantBroadbandRecharge")
                                                @Html.Action("BroadbandRecharge")
                                            }
                                            else
                                            {
                                                @Html.Action("Index", "MerchantOutletRegistration", new { area = "Merchant" })
                                            }*@
                                            @Scripts.Render("~/bundles/MerchantBroadbandRecharge")
                                            @Html.Action("BroadbandRecharge")
                                        }
                                        else
                                        {
                                            <h2>Service is not available</h2>
                                        }

                                    </div>
                                </div>
                                <!--.tab-pane-->
                                <div class="tab-pane @(Model.Count(x => x.ServiceName == "UTILITY SERVICES" && x.ServiceStatus) > 0 ? "" : "disabled")" id="tab4_6">
                                    <div class="panel-body">
                                        @if (Model.Count(x => x.ServiceName == "UTILITY SERVICES" && x.ServiceStatus) > 0)
                                        {
                                            @*if (ViewBag.Outletcheck != "")
                                            {
                                                @Scripts.Render("~/bundles/MerchantElectricityRecharge")
                                                @Html.Action("ElectricityBillPayment")
                                            }
                                            else
                                            {
                                                @Html.Action("Index", "MerchantOutletRegistration", new { area = "Merchant" })
                                            }*@
                                            @Scripts.Render("~/bundles/MerchantElectricityRecharge")
                                            @Html.Action("ElectricityBillPayment")
                                        }
                                        else
                                        {
                                            <h2>Service is not available</h2>
                                        }

                                    </div>
                                </div>
                                <!--.tab-pane-->
                                <div class="tab-pane @(Model.Count(x => x.ServiceName == "UTILITY SERVICES" && x.ServiceStatus) > 0 ? "" : "disabled")" id="tab4_7">
                                    <div class="panel-body">
                                        @if (Model.Count(x => x.ServiceName == "UTILITY SERVICES" && x.ServiceStatus) > 0)
                                        {
                                            @*if (ViewBag.Outletcheck != "")
                                            {
                                                @Scripts.Render("~/bundles/MerchantGasBillRecharge")
                                                @Html.Action("GasBillPayment")
                                            }
                                            else
                                            {
                                                @Html.Action("Index", "MerchantOutletRegistration", new { area = "Merchant" })
                                            }*@
                                            @Scripts.Render("~/bundles/MerchantGasBillRecharge")
                                            @Html.Action("GasBillPayment")
                                        }
                                        else
                                        {
                                            <h2>Service is not available</h2>
                                        }
                                    </div>
                                </div>
                                <!--.tab-pane-->
                                <div class="tab-pane @(Model.Count(x => x.ServiceName == "UTILITY SERVICES" && x.ServiceStatus) > 0 ? "" : "disabled")" id="tab4_8">
                                    <div class="panel-body">

                                        @if (Model.Count(x => x.ServiceName == "UTILITY SERVICES" && x.ServiceStatus) > 0)
                                        {
                                            @Scripts.Render("~/bundles/MerchantWaterSupplyRecharge")
                                            @Html.Action("WaterSupplyPayment")
                                            @*if (ViewBag.Outletcheck != "")
                                            {
                                                @Scripts.Render("~/bundles/MerchantWaterSupplyRecharge")
                                                @Html.Action("WaterSupplyPayment")
                                            }
                                            else
                                            {
                                                @Html.Action("Index", "MerchantOutletRegistration", new { area = "Merchant" })
                                            }*@
                                        }
                                        else
                                        {
                                            <h2>Service is not available</h2>
                                        }
                                    </div>
                                </div>
                                <!--.tab-pane-->
                                <!--.tab-pane-->
                            </div>
                        </div>

                    </div>

                </div>
                <!--.col-md-9-->
            </div>
            <!--.row-->
            <!--.row-->
        </div>
        <!--.full-content-->
    </div>
    <!--.display-animation-->
    <!-- content -->
</div>
<!--.content-->

<script type="text/javascript">
    $(document).ready(function () {     
        var msg = $("#PrepaidRecharge1").val();
        var msg1 = $("#PostpaidRecharge2").val();
        $("#username").val(msg);
        $("#username1").val(msg1);
        //$(".transdOutletRegForm").show();
        GetOutletMerchantInformation();
    });
</script>

@*<div id="dialog" style="display: none">
    </div>*@
<!-- For Mobile Recharge-->
<div id="transactmodal" class="modal scale fade transd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Service Provider Name List</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                

            </div>
            <div class="modal-body">
                <table class="table table-bordered table-responsive table-hover">
                    <tr>
                        <th>Operator Name </th>
                        <th></th>
                    </tr>
                    @if (ViewBag.operatorList != null)
                    {

                        foreach (var d in ViewBag.operatorList)
                        {
                            <tr>
                                <td>
                                    @d.SERVICE_NAME (@d.TYPE)
                                    <input type="hidden" value="@d.SERVICE_KEY" />
                                </td>

                                <td><a href="javascript:void(0)" class="btn btn-default" onclick="setServiseOperator('@d.SERVICE_KEY','@d.SERVICE_NAME')"><img src="@d.IMAGE" width="40" height="40" /></a></td>
                            </tr>
                        }
                    }

                </table>

                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Service Provider Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>                
            </div>
            <div class="modal-body" id="myModalBodyDiv">


            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>*@
<!-- For Mobile Recharge-->
<!-- For Electricity Recharge-->

<div id="transactElectricitymodal" class="modal scale fade transdElectricity" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Service Provider Name List</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table style="width:100%;">
                    <tr>
                        <th>Operator Name </th>
                        <th></th>
                    </tr>
                    @foreach (var d in ViewBag.ElectricityOperator)
                    {
                        <tr>
                            <td>
                                @d.SERVICE_NAME (@d.TYPE)
                                <input type="hidden" value="@d.SERVICE_KEY" />
                            </td>

                            <td><a href="javascript:void(0)" class="btn btn-default" onclick="setElectricityServiseOperator('@d.SERVICE_KEY','@d.SERVICE_NAME')"><img src="@d.IMAGE" width="40" height="40" /></a></td>
                        </tr>
                    }
                </table>
                @*<div class="col-md-6">
                        <div class="inputer floating-label">
                            <div class="input-wrapper">
                                Member Name <input type="text" id="username" value="" class="form-control" />
                                <input type="text" id="username1" value="" class="form-control" />
                                <input type="hidden" id="sln" />
                            </div>
                        </div>
                    </div>*@
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div><!--.modal-content-->
    </div><!--.modal-dialog-->
</div>
<script type="text/javascript">
    function setElectricityServiseOperator($key, $name) {
        $('#txtElectricityOperator').val($name).focus();
        $('#hfElectricityperator').val($key);
        //$('#RechargeAmt').focus();
        $('#transactElectricitymodal').modal('hide');
    }
    function setDTHOperatorServiseOperator($key, $name) {
        $('#txtDTHOperator').val($name).focus();
        $('#hfDTHOperator').val($key);
        //$('#RechargeAmt').focus();
        $('#transactionvalueDTHid').modal('hide');
        $('.transdDTH').modal('hide');
    }
    function setLandLineOperatorServiseOperator($key, $name) {
        $('#txtLandlineOperator').val($name).focus();
        $('#hfLandlineOperator').val($key);
        //$('#RechargeAmt').focus();
        $('#transactionvalueLandLineid').modal('hide');
        $('.transdLandLine').modal('hide');
    }
    function setBroadBandOperatorServiseOperator($key, $name) {
        $('#txtBroadbandOperator').val($name).focus();
        $('#hfbroadbandperator').val($key);
        //$('#RechargeAmt').focus();
        $('#transactionvalueBroadBandid').modal('hide');
        $('.transdBroadBand').modal('hide');
    }
    function setGasOperatorServiseOperator($key, $name) {
        $('#txtGassServiceOperator').val($name).focus();
        $('#hfGassServiceOperator').val($key);
        //$('#RechargeAmt').focus();
        $('#transactionvalueGassid').modal('hide');
        $('.transdGass').modal('hide');
    }
</script>
<!-- For Electricity Recharge-->
<!-- For Water Recharge-->
<div id="transactWatermodal" class="modal scale fade transdWater" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Service Provider Name List</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table  style="width:100%;">
                    <tr>
                        <th>Operator Name </th>
                        <th></th>
                    </tr>
                    @foreach (var d in ViewBag.WaterOperator)
                    {
                        <tr>
                            <td>
                                @d.SERVICE_NAME (@d.TYPE)
                                <input type="hidden" value="@d.SERVICE_KEY" />
                            </td>

                            <td><a href="javascript:void(0)" class="btn btn-default" onclick="setWaterServiseOperator('@d.SERVICE_KEY','@d.SERVICE_NAME')"><img src="@d.IMAGE" width="40" height="40" /></a></td>
                        </tr>
                    }
                </table>
                @*<div class="col-md-6">
                        <div class="inputer floating-label">
                            <div class="input-wrapper">
                                Member Name <input type="text" id="username" value="" class="form-control" />
                                <input type="text" id="username1" value="" class="form-control" />
                                <input type="hidden" id="sln" />
                            </div>
                        </div>
                    </div>*@
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div><!--.modal-content-->
    </div><!--.modal-dialog-->
</div>
<!-- For Water Recharge-->
<!-- For DTH Recharge-->
<div id="transactionvalueDTHid" class="modal scale fade transdDTH" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Service Provider Name List</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table  style="width:100%">
                    <tr>
                        <th>Operator Name </th>
                        <th></th>
                    </tr>
                    @foreach (var d in ViewBag.DTHOperator)
                    {
                    <tr>
                        <td>
                            @d.SERVICE_NAME (@d.TYPE)
                            <input type="hidden" value="@d.SERVICE_KEY" />
                        </td>

                        @*<td><a href="javascript:void(0)" class="btn btn-default" onclick="setWaterServiseOperator('@d.SERVICE_KEY','@d.SERVICE_NAME')">Select..</a></td>*@
                        <td><a href="javascript:void(0)" class="btn btn-default" onclick="setDTHOperatorServiseOperator('@d.SERVICE_KEY','@d.SERVICE_NAME')"><img src="data:image;base64,@d.IMAGE"  width="60" height="60" /></a></td>
                        
                    </tr>
                    }
                </table>
                @*<div class="col-md-6">
                        <div class="inputer floating-label">
                            <div class="input-wrapper">
                                Member Name <input type="text" id="username" value="" class="form-control" />
                                <input type="text" id="username1" value="" class="form-control" />
                                <input type="hidden" id="sln" />
                            </div>
                        </div>
                    </div>*@
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div><!--.modal-content-->
    </div><!--.modal-dialog-->
</div>
<!-- For DTH Recharge-->
<!-- For DataCard Recharge-->
<div id="transactionvalueDataCardid" class="modal scale fade transdDataCard" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Service Provider Name List</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-responsive table-hover">
                    <tr>
                        <th>Operator Name </th>
                        <th></th>
                    </tr>
                    @*@foreach (var d in ViewBag.DTHOperator)
                        {
                            <tr>
                                <td>
                                    @d.SERVICE_NAME (@d.TYPE)
                                    <input type="hidden" value="@d.SERVICE_KEY" />
                                </td>

                                <td><a href="javascript:void(0)" class="btn btn-default" onclick="setWaterServiseOperator('@d.SERVICE_KEY','@d.SERVICE_NAME')">Select..</a></td>
                            </tr>
                        }*@
                </table>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div><!--.modal-content-->
    </div><!--.modal-dialog-->
</div>
<!-- For DataCard Recharge-->
<!-- For LandLine Recharge-->
<div id="transactionvalueLandLineid" class="modal scale fade transdLandLine" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Service Provider Name List</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table  style="width:100%">
                    <tr>
                        <th>Operator Name </th>
                        <th></th>
                    </tr>
                    @foreach (var d in ViewBag.LANDLINEOperator)
                    {
                    <tr>
                        <td>
                            @d.SERVICE_NAME (@d.TYPE)
                            <input type="hidden" value="@d.SERVICE_KEY" />
                        </td>
                        <td><a href="javascript:void(0)" class="btn btn-default" onclick="setLandLineOperatorServiseOperator('@d.SERVICE_KEY','@d.SERVICE_NAME')"><img src="data:image;base64,@d.IMAGE" width="60" height="60" /></a></td>
                                             
                    </tr>
                    }
                </table>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div><!--.modal-content-->
    </div><!--.modal-dialog-->
</div>
<!-- For LandLine Recharge-->
<!-- For BROADBAND Recharge-->
<div id="transactionvalueBroadBandid" class="modal scale fade transdBroadBand" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Service Provider Name List</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table style="width:100%">
                    <tr>
                        <th>Operator Name </th>
                        <th></th>
                    </tr>
                    @foreach (var d in ViewBag.BROADBANDOperator)
                    {
                    <tr>
                        <td>
                            @d.SERVICE_NAME (@d.TYPE)
                            <input type="hidden" value="@d.SERVICE_KEY" />
                        </td>

                        @*<td><a href="javascript:void(0)" class="btn btn-default" onclick="roadBandOperatorServiseOperator('@d.SERVICE_KEY','@d.SERVICE_NAME')">Select..</a></td>*@
                        <td><a href="javascript:void(0)" class="btn btn-default" onclick="setBroadBandOperatorServiseOperator('@d.SERVICE_KEY','@d.SERVICE_NAME')"><img src="data:image;base64,@d.IMAGE" width="60" height="60" /></a></td>
                    </tr>
                    }
                </table>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div><!--.modal-content-->
    </div><!--.modal-dialog-->
</div>
<!-- For BROADBAND Recharge-->
<!-- For Gas Recharge-->
<div id="transactionvalueGassid" class="modal scale fade transdGass" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Service Provider Name List</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table style="width:100%" >
                    <tr>
                        <th>Operator Name </th>
                        <th></th>
                    </tr>
                    @foreach (var d in ViewBag.GasOperator)
                    {
                    <tr>
                        <td>
                            @d.SERVICE_NAME (@d.TYPE)
                            <input type="hidden" value="@d.SERVICE_KEY" />
                        </td>

                        <td><a href="javascript:void(0)" class="btn btn-default" onclick="setGasOperatorServiseOperator('@d.SERVICE_KEY','@d.SERVICE_NAME')"><img src="@d.IMAGE" width="40" height="40" /></a></td>
                        @*<td><a href="javascript:void(0)" class="btn btn-default" onclick="setGasOperatorServiseOperator('@d.SERVICE_KEY','@d.SERVICE_NAME')"><img src="data:image;base64,@d.IMAGE" width="60" height="60" /></a></td>*@
                    </tr>
                    }
                </table>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div><!--.modal-content-->
    </div><!--.modal-dialog-->
</div>
<!-- For Gas Recharge-->
<!-- Confirmation Button PopUp-->
<!-- Modal -->
@*<div id="myConfirmationModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm</h4>
                </div>
                <div class="modal-body">
                    <p>Are You Confirm</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>*@
<!-- Confirmation Button PopUp-->

<script type="text/javascript">
    function setWaterServiseOperator($key, $name) {
        $('#txtWaterSupplyOperator').val($name).focus();
        $('#hfWaterSupplyperator').val($key);
        //$('#RechargeAmt').focus();
        $('#transactWatermodal').modal('hide');
        $('.modal-backdrop').hide();
    }
     function setDTHServiseOperator($key, $name) {
        $('#txtDTHOperator').val($name).focus();
        $('#hfDTHOperator').val($key);
        //$('#RechargeAmt').focus();
         $('#transactionvalueDTHid_Val').modal('hide');
         $('.modal-backdrop').hide();
         //$('#transactionvalueDTHid').hide();
    }
    function setBroadbanderviseOperator($key, $name) {
        $('#txtBroadbandOperator').val($name).focus();
        $('#hfbroadbandperator').val($key);
        //$('#RechargeAmt').focus();
        $('#transactionvalueBroadBandid_Val').modal('hide');
        $('.modal-backdrop').hide();
    }
    function setlandlineServiseOperator($key, $name) {
        $('#txtLandlineOperator').val($name).focus();
        $('#hfLandlineOperator').val($key);
        //$('#RechargeAmt').focus();
        $('#transactionvalueLandLineid_Val').modal('hide');
        $('.modal-backdrop').hide();
    }
    function setGasServiseOperator($key, $name) {
        $('#txtGassServiceOperator').val($name).focus();
        $('#hfGassServiceOperator').val($key);
        //$('#RechargeAmt').focus();
        $('#transactionvalueGassid_Val').modal('hide');
        $('.modal-backdrop').hide();
    }
    
</script>

<!-- Get Electricity Bill Details -->
<div class="modal fade" id="myModalElectricityBill">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Get Bill Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="myModalLelectricityBillDetails">


            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>

<script src="~/Areas/Merchant/MerchantHelperJS/MobileRecharge/Outlet.js"></script>
<div id="transactionvalueoutletRegistrationid" class="modal scale fade transdOutletRegForm" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="max-width: 700px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">BBPS Verification Form</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               
                    <div class="col-md-12" style="padding: 0 60px;">

                        <div style="box-shadow: 5px 10px #3e50b4; border: 1px solid #3e50b4; padding:20px;" class="clearfix row">

                            <div class="col-md-8">
                                <div class="form-group row">
                                    <label class="control-label col-md-4" style="padding-top:10px;">Mobile No</label>
                                    <div class="col-md-8">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @*@Html.EditorFor(model => model.Reg_Mobile, new { htmlAttributes = new { @class = "form-control text-box single-line", @style = " width:100%; padding:5px;", @placeholder = "Mobile Number", id = "MobileNumber" } })*@
                                                <input type="text" value="Mobile No" class = "form-control text-box single-line" id="txtOutletMobileNo" placeholder = "Mobile Number"  readonly="readonly"/>
                                                @*<input class="form-control text-box single-line" placeholder="Mobile Number" style=" width:100%; padding:5px;" type="text" value="">*@
                                            </div>
                                            <span class="help-block"><small>@*@Html.ValidationMessageFor(model => model.Reg_Mobile, "", new { @class = "text-danger" })*@</small></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <a href="javascript:void(0)" id="SendOTP" onclick="GenerateOutletOTP($('#txtOutletMobileNo').val())" class="btn btn-primary"><b>Get OTP</b></a>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12" style="padding: 0 20px;">
                        <div style="box-shadow: 5px 10px #3e50b4; border: 1px solid #3e50b4; padding:20px 0; margin:40px;" class="clearfix">
                            <div class=" col-md-12 row">
                                <div class="col-md-6">

                                    <div class="form-group row">
                                        <label class="control-label col-md-4" style="padding-top:10px;"> Name</label>
                                        <div class="col-md-8">
                                            <div class="inputer">
                                                <div class="input-wrapper">
                                                    @*@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control text-box single-line", @style = " width:100%; padding:5px;", @placeholder = "Customer Name" } })*@
                                                    <input type="text" value="Customer Name" class="form-control text-box single-line" id="txtOutletCustomerName" placeholder = "Customer Name"  readonly="readonly" />
                                                    
                                                </div>
                                                <span class="help-block"><small>@*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@</small></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label col-md-4" style="padding-top:10px;">Address</label>
                                        <div class="col-md-8">
                                            <div class="inputer">
                                                <div class="input-wrapper">
                                                    @*@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control text-box single-line", @style = " width:100%; padding:5px;", @placeholder = "Address" } })*@
                                                    <input type="text" value="Customer Address" class="form-control text-box single-line" id="txtOutletCustomerAddress" placeholder="Customer Address" readonly="readonly" />
                                                </div>

                                                <span class="help-block"><small>@*@Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })*@</small></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label col-md-4" style="padding-top:10px;">Pincode</label>
                                        <div class="col-md-8">
                                            <div class="inputer">
                                                <div class="input-wrapper">
                                                    @*@Html.EditorFor(model => model.Pincode, new { htmlAttributes = new { @class = "form-control text-box single-line", @style = " width:100%; padding:5px;", @placeholder = "Pincode" } })*@
                                                    <input type="text" value="PinCode" class="form-control text-box single-line" id="txtOutletPincode" placeholder="Pincode" readonly="readonly" />
                                                </div>

                                                <span class="help-block"><small>@*@Html.ValidationMessageFor(model => model.Pincode, "", new { @class = "text-danger" })*@</small></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label col-md-4" style="padding-top:10px;">Email</label>
                                        <div class="col-md-8">
                                            <div class="inputer">
                                                <div class="input-wrapper">
                                                    @*@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control text-box single-line", @style = " width:100%; padding:5px;", @placeholder = "Email" } })*@
                                                    <input type="text" value="Customer Email" class="form-control text-box single-line" id="txtOutletCustomerEmail" placeholder="Customer Email"  readonly="readonly"/>
                                                </div>

                                                <span class="help-block"><small>@*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })*@</small></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label col-md-4" style="padding-top:10px;">Company Name</label>
                                        <div class="col-md-8">
                                            <div class="inputer">
                                                <div class="input-wrapper">
                                                    @*@Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control text-box single-line", @style = " width:100%; padding:5px;", @placeholder = "Company Name" } })*@
                                                    <input type="text" value="Company Name" class="form-control text-box single-line" id="txtOutletCompanyName" placeholder="Company Name" readonly="readonly" />
                                                </div>

                                                <span class="help-block"><small>@*@Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })*@</small></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label col-md-4" style="padding-top:10px;">Pan No</label>
                                        <div class="col-md-8">
                                            <div class="inputer">
                                                <div class="input-wrapper">
                                                    @*@Html.EditorFor(model => model.PanNo, new { htmlAttributes = new { @class = "form-control text-box single-line", @style = " width:100%; padding:5px;", @placeholder = "Pan No" } })*@
                                                    <input type="text" value="Pancard No" class="form-control text-box single-line" id="txtOutletPancardNo" placeholder="Pancard No" />
                                                </div>

                                                <span class="help-block"><small>@*@Html.ValidationMessageFor(model => model.PanNo, "", new { @class = "text-danger" })*@</small></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label col-md-4" style="padding-top:10px;">OTP</label>
                                        <div class="col-md-8">
                                            <div class="inputer">
                                                <div class="input-wrapper">
                                                    @*@Html.EditorFor(model => model.OTP, new { htmlAttributes = new { @class = "form-control text-box single-line", @style = " width:100%; padding:5px;", @placeholder = "OTP" } })*@
                                                    <input type="text" value="OTP" class="form-control text-box single-line" id="txtOutletOTP" placeholder="OTP" />
                                                </div>
                                                <span class="help-block"><small>@*@Html.ValidationMessageFor(model => model.OTP, "", new { @class = "text-danger" })*@</small></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="text-center col-md-12">
                                <input type="submit" value="Verify Yourself" class="btn btn-primary" id="btnOutletsubmit" onclick="RegisteredOutletInformation($('#txtOutletPancardNo').val(),$('#txtOutletOTP').val());" />
                            </div>
                        </div>
                    </div>

                
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div><!--.modal-content-->
    </div><!--.modal-dialog-->
</div>

<script type="text/javascript">
        $(document).ready(function () {
            $('#btnOutletsubmit').prop('disabled', true);
        $('#progressMsgRegistration').removeClass("hidden");
        $('#progressMsgRegistration').hide();
    })
        function OnSuccessMsgOutletRegistration(response) {

        var message = response;
        if (message == "TXN") {
            bootbox.alert({
                message: "Outlet Added Successfully",
                size: 'small',
                callback: function () {
                    console.log(message);
                    var url = '@Url.Action("Index", "MerchantRechargeService", new { area="Merchant" })';
                    window.location.href = url;
                }
            })
        }
        else {
            bootbox.alert({
                message: message,
                size: 'small',
                callback: function () {
                    console.log(message);
                }
            })
        }


        //alert(message);
    }
        function OnFailureMsgOutletRegistration(response) {
        alert("Error occured.");
    }
</script>