@model WHITELABEL.Data.Models.TBL_BALANCE_TRANSFER_LOGS
@using WHITELABEL.Data.Models
@using WHITELABEL.Web.Helper;
@{
    ViewBag.Title = "Requisition Details";
    //Layout = "~/Areas/Super/Views/Shared/_LayoutSuper.cshtml";
    Layout = "~/Areas/Super/Views/Shared/_LayoutSuper.cshtml";
}

@Scripts.Render("~/bundles/SuperRequisition")

@using (Html.BeginForm("RequisitionDetails", "SuperRequisition", FormMethod.Post, new { area = "Super" }))
{
    <div class="form-horizontal padding-top-20">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.SLN)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-12">
            
                <div class="card">
                    <div class="card-heading">
                    </div><!--.panel-heading-->
                    <div class="card-body">
                        @if (ViewBag.msg != null)
                        {
                            <div id="informationMessage" class="text-center alert alert-danger" style="background-color:red; margin-bottom:10px;">
                                <span style="width:100%;text-align:center;">@ViewBag.msg </span>
                            </div>
                        }
                        <div class="clearfix"></div>
                        <div class="row ">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.HiddenFor(model => model.FROM_MEMBER)
                                    @Html.HiddenFor(model => model.SLN)
                                    <label class="control-label col-md-3">User List</label>
                                    <div class="col-md-9">
                                        <div class="">
                                            <div class="md-form">
                                                @Html.AutocompleteFor(model => model.FromUser, model => model.FROM_MEMBER, "GetPeople", "SuperRequisition", false, new { area = "Super", htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                            </div>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.FromUser, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Reference No</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="md-form">
                                                @Html.EditorFor(model => model.REFERENCE_NO, "0", new { htmlAttributes = new { @class = "form-control", @placeholder = "Reference No", id = "txtReferenceNumber", maxlength = 10 } })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.REFERENCE_NO, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Request Date</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            @{
                                                DateTime date = DateTime.Now;
                                                DateTime min = date.AddYears(-10);
                                                DateTime max = date.AddYears(10);
                                            }
                                            <div class="md-form">
                                                @Html.EditorFor(model => model.REQUEST_DATE, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", @min = min.ToString("yyyy-MM-dd"), @max = max.ToString("yyyy-MM-dd"), @onkeydown = "return false;" } })
                                            </div>
                                            <span><small> @Html.ValidationMessageFor(model => model.REQUEST_DATE, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Amount</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="md-form">
                                                @Html.EditorFor(model => model.AMOUNT, new { htmlAttributes = new { @class = "form-control", @placeholder = "XXXXX.XX" } })
                                            </div>
                                            <span><small>@Html.ValidationMessageFor(model => model.AMOUNT, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Bank Account</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="md-form">
                                                @Html.DropDownListFor(model => model.BANK_ACCOUNT, new SelectList((ViewBag.BankInformation) as SelectList, "Text", "Text"), "Select Bank", new { id = "BankIDVal", @class = "form-control" })
                                                <span><small>@Html.ValidationMessageFor(model => model.BANK_ACCOUNT, "", new { @class = "text-danger" })</small></span>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>                            
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Payment Method</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="md-form">
                                                @Html.DropDownListFor(m => m.PAYMENT_METHOD, new List<SelectListItem>
                                                                        { new SelectListItem{Text="NEFT", Value="NEFT"},
                                                                            new SelectListItem{Text="RTGS", Value="RTGS"},
                                                                            new SelectListItem{Text="IMPS", Value="IMPS"},
                                                                            new SelectListItem{Text="Cash Deposit in bank", Value="Cash Deposit in bank"}},
                                                                            "Select Payment Method", new { id = "Paymentmethod", @class = "form-control" })
                                                <span><small> @Html.ValidationMessageFor(model => model.PAYMENT_METHOD, "", new { @class = "text-danger" })</small></span>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                            <div class="clearfix"></div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Transaction Details</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="md-form">
                                                @Html.EditorFor(model => model.TRANSACTION_DETAILS, new { htmlAttributes = new { @class = "form-control", @placeholder = "Transaction Details" } })
                                            </div>
                                            <span><small>@Html.ValidationMessageFor(model => model.TRANSACTION_DETAILS, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Bank Charges</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="md-form">
                                                @Html.EditorFor(model => model.BANK_CHARGES, new { htmlAttributes = new { @class = "form-control", @placeholder = "Bank Charges" } })
                                            </div>
                                            <span><small>@Html.ValidationMessageFor(model => model.BANK_CHARGES, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--.row-->
                    </div><!--.panel-body-->

                    <div class="card-footer row">
                        

                        <div class="col-lg-12 text-center">
                            @if (ViewBag.checkbank == "0")
                {
                                <input type="submit" value="Create" class="btn btn-primary" />
                            }
                            else
                            {
                                <input type="submit" value="Update" class="btn btn-primary" />
                            }

                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div><!--.panel-->
            </div><!--.col-md-12-->
        </div>

    </div>
    <script>
     $(document).ready(function () {

         window.setTimeout(function () {
             $("#informationMessage").fadeOut('slow');
         }, 3000);
     });

    </script>
                                                }

